<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="element in pager.data" class="col-md-2">
        <div class="thumbnail" >
          <a href="#/characters/{{element.id}}">
            <img src="{{element.thumbnail.path}}/portrait_medium.{{element.thumbnail.extension}}" alt="{{element.name || element.title}}" class="responsive img-circle">
            <div class="caption">
              <h4>{{element.name || element.title}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 centered">
    <div ng-click="pager.nextPage()">
      <a class="btn btn-default" href="">Load more</a>
    </div>
  </div>
</div>
