<div ng-include src="'views/header.html'"></div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="element in pager.data" class="col-md-2">
        <div class="thumbnail" >
          <a href="#/{{type}}/{{element.id}}">
            <img src="{{element.thumbnail.path}}/portrait_medium.{{element.thumbnail.extension}}" alt="{{element.name || element.title || element.fullName}}" class="responsive img-circle">
            <div class="caption">
              <h4>{{element.name || element.title || element.fullName}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'views/index/loadMore.html'"></div>
<div ng-include src="'views/footer.html'"></div>
