<div ng-include src="'views/header.html'"></div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="element in pager.data" class="col-md-2">
        <div class="thumbnail" >
          <a href="#/{{type}}/{{element.id}}">
            <div ng-include src="'views/index/' + title + '.html'"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'views/index/loadMore.html'"></div>
<div ng-include src="'views/footer.html'"></div>
