<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Marvel Api</a>
  </div>
</nav>

<div clas="row">

  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="comic in pager.data" class="col-md-2">
        <div class="thumbnail" >
          <a href="#/comics/{{comic.id}}">
            <img src="{{comic.thumbnail.path}}/portrait_medium.{{comic.thumbnail.extension}}" alt="{{comics.name}}" class="responsive img-circle">
            <div class="caption">
              <h4>{{comic.title}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div ng-click="pager.nextPage()" class="">
      <a class="btn btn-default" href="#">Load more</a>
    </div>
  </div>
</div>

