<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="character in pager.data" class="col-md-2">
        <div class="thumbnail" >
          <a href="#/characters/{{character.id}}">
            <img src="{{character.thumbnail.path}}/portrait_medium.{{character.thumbnail.extension}}" alt="{{character.name}}" class="responsive img-circle">
            <div class="caption">
              <h4>{{character.name}}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-click="pager.nextPage()" class="">
      <a class="btn btn-default" href="">Load more</a>
    </div>

</div>

