<div ng-include src="'views/header.html'"></div>

<div class="row" scroll-spy>
  <div class="col-md-2 affix character-sidebar">
    <img src="{{model.thumbnail.path}}/portrait_incredible.{{model.thumbnail.extension}}" alt="{{model.title}}" class="responsive img-thumbnail">

    <ul class="nav nav-pills nav-stacked">
      <li spy="{{key}}" data-ng-repeat="(key, _) in hasMany">
        <a prevent-default="" scroll-to="{{key}}" href="#/{{key}}">
          {{key}}
          <span class="badge">
            {{model[key].total}}
        </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10 character">
    <div class="page-header">
      <h1>{{ model.name }}</h1>
    </div>
    <p>{{model.description}}</p>

    <div class="row" id="{{key}}" data-ng-repeat="(key, _) in hasMany">
      <div ng-repeat="element in model[key].results" class="col-md-3">
        <div class="thumbnail">
          <a href="#/{{key}}/{{element.id}}">
            <div ng-include src="'views/shared/' + key + '.html'"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'views/footer.html'"></div>
